<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>Profile:</strong><%# needs to Hide, %>
  <%= current_user.id %>
</p>


<%= link_to 'My Pictures', my_pictures_path(@profile), class:"btn btn-secondary" %>
<%= link_to 'Edit', edit_profile_path(@profile), class:"btn btn-secondary" %>
<%= link_to 'Back', profiles_path, class:"btn btn-dark" %>
