<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Navbar", root_path, class: "navbar-brand"%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
            <li class="nav-item">
                <%= link_to "Home", root_path, class: "nav-link"%>
            </li>

            <li class="nav-item">
                <%= link_to "About Us", about_path, class: "nav-link" %> 
            </li>

                <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %> 
                    </li>

                    <li class="nav-item">
                        <%= link_to "Change My Password", edit_user_registration_path, class: "nav-link" %> 
                    </li>

                    <li class="nav-item">
                        <%= link_to "My Profile", profiles_path, class: "nav-link" %> <%#once the profile auto generates this should become singular%>
                    </li>

                      <li class="nav-item">
                        <%= link_to "Create A New Listing", new_picture_path, class: "nav-link" %> 
                    </li>

                <% else %>
                    <li class= "nav-item"><%# this link should go to the my account login%>
                        <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
                    </li>

                    <li class="nav-item">
                        <%= link_to "Sign in", new_user_session_path, class: "nav-link" %> 
                    </li>
                    <% end %>
            
            <li class="nav-item"><%# this should go to the pics for sale, and should have a rescue for not logged in%>
                <%= link_to "Pictures", pictures_path, class:"nav-link" %>
            </li>
        </ul>

    </div>
  </div>
</nav>