<%= form_with(model: picture) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
        <% picture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :picture_title %>
    <%= form.text_field :picture_title %>
  </div>

  <div class="field">
    <%= form.label :picture_url %>
    <%= form.text_field :picture_url %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :non_fungible_token %>
    <%= form.text_field :non_fungible_token %>
  </div>

    <div class="field">
    <%= form.number_field :profile_id,id: :picture_profile_id, value: current_user.id, type: :hidden %>

    </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
