<%= form_with(model: picture) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
        <% picture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <% form.label :picture_title%>
    <%= form.text_field :picture_title,  class:"form-control", placeholder: "Picture Title"  %>
  </div>

  <div class="mb-3">
    <% form.label :picture_url%>
    <%= form.text_field :picture_url,  class:"form-control", placeholder: "Picture Url"  %>
  </div>
  
  <%#if @picture.image.attached?%>
    <div>
      <%#= image_tag url_for(@pciture.image),width:'250px' %>
    </div>
  <%#end%>

  <div class="mb-3">
    <% form.label :description%>
    <%= form.text_area :description,  class:"form-control", placeholder: "Description"  %>
  </div>

  <div class="mb-3">
    <% form.label :non_fungible_token%>
    <%= form.text_field :non_fungible_token,  class:"form-control" , placeholder: "NFT" %> <%# So we get hide this, concatinate the title, user_id and description, then use the index to hash it with a gem%>
  </div>

    <div class="mb-3">
    <%= form.hidden_field :profile_id, id: :picture_profile_id, value: current_user.id %>
    </div>


  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div><br>
<% end %>
