<%= @picture.profile_id%>
<%= @picture.profile.username%>

Buy this Picture?

<%= form_with(model: @picture) do |form| %>

    <div class="mb-3">
    <%= form.hidden_field :profile_id, id: :picture_profile_id, value: current_user.id %>
    </div>

    <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
    </div><br>
<% end %>