<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<table class ="table table-hover table-bordered">
  <thead class="table-light">
    <tr>
      <th>Picture title</th>
      <th>Picture url</th>
      <th>Description</th>
      <th>Non fungible token</th>
      <th>Owner username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.picture_title %></td>
        <td><%= picture.picture_url %></td>
        <td><%= picture.description %></td>
        <td><%= picture.non_fungible_token %></td>
        <td><%= picture.profile.username %></td> <%# SO THATS HOW ITS DONE%>
        <td><%= picture.non_fungible_token + " test" %></td><%# that works too, just need to add a gem (not the best place but on a real marketplace this would just be dragged from the database)%>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td><%# the reason this doesn't work is we took out jquery in the application view cause it was breaking stuff%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path, class:"btn btn-secondary" %>
