<p id="notice"><%= notice %></p>

<p>
  <strong>Picture title:</strong>
  <%= @picture.picture_title %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @picture.picture_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @picture.description %>
</p>

<p>
  <strong>Non fungible token:</strong>
  <%= @picture.non_fungible_token %>
</p>

<p>
  <strong>Owner</strong>
  <%= @picture.profile_id %>
</p>



<%= link_to 'Edit', edit_picture_path(@picture), class:"btn btn-secondary"%>
<%= link_to 'Back', pictures_path, class:"btn btn-dark"%>
